@import 'variables';

.quiz-list {
    max-width: 960px;
    margin: 66px auto;
    overflow: auto;
    box-shadow: 0 0  3px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);

    .quiz-card {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 0;
        flex-wrap: wrap;
        padding: 10px;
        margin: 20px;

        .quiz-elem {
            flex-grow: 1;
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
        }
        .title {
            font-size: 22px;
        }
        .type {
            font-size: 12px;
        }
        a {
            line-height: 1px;
        }
        .delete,
        .edit {
            width: 50px;
            padding: 13px 17px;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 20px;
            line-height: 20px;
            color: $white;
            background: $red-500;
            border-radius: 5px;

            .ripple {
                background: rgba($white, 0.7);
            }
            &:hover {
                background: $red-700;
            }
        }
        .edit {
            color: $grey-700;
            background: #FFF;

            &:hover {
                background: $grey-300;
            }
        }
    }
}
.new-quiz {
    position: fixed !important;
    right: 10px;
    bottom: 10px;

    .materialButton {
        position: relative;
        padding: 15px 21px;
        font-size: 26px;
        color: #FFF;
        background: $primary-500;
        border-radius: 100%;
        box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.3);

        .ripple {
            background: rgba(255, 255, 255, 0.5);
        }
        .fa {
            transition: opacity 0.5s;
        }
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 26px;
            content: '\f00c';
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: opacity 0.5s;
        }
        &.saved {
            &::after {
                opacity: 1;
            }
            .fa {
                opacity: 0;
            }
        }
    }
}
