@import 'variables';

//May God have mercy on my soul.
.catalog {
    min-width: 960px;
    padding-top: 10px;

    table {
        border-bottom: 1px solid #DDD;
    }
    #table_filter {
        display: none;
    }
    .inputs {
        th {
            padding: 0;

            .materialInput {
                margin-bottom: 0;

                .message {
                    display: none;
                }
                label {
                    left: 15px;
                }
            }
            &.dt-center {
                .materialInput {
                    input {
                        text-align: center;
                    }
                    label {
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }
            &.dt-right {
                .materialInput {
                    input {
                        text-align: right;
                    }
                    label {
                        right: 15px;
                        left: auto;
                    }
                }
            }
        }
    }
    td,
    th {
        vertical-align: middle;
        border-top: 1px solid $grey-200;
    }
    .inputs,
    .headers {
        th {
            border-top: 0;
            border-bottom: 1px solid $grey-300;

            &:first-of-type {
                border-left: 0;
            }
            input {
                border-bottom: 0;
            }
            .bar {
                &::after,
                &::before {
                    bottom: 0;
                }
            }
        }
    }
    .headers {
        text-align: left;
    }
    th {
        font-size: 14px;
        color: rgba(#000, 0.54);
    }
    td {
        padding: 18px 10px !important;
        font-size: 16px;
        color: rgba(#000, 0.87);

        .fa {
            color: rgba(#000, 0.87);
        }
    }
    th.dt-center,
    td.dt-center {
        text-align: center;
    }
    th.dt-right,
    td.dt-right {
        text-align: right;
    }
    .data {
        background: #FFF;

        &:hover {
            background: $grey-100;
        }
    }
    .headers {
        th {
            font-size: 16px;
            font-weight: 400;
        }
        .series,
        .group,
        .grade {
            width: 50px !important;
        }
        .date {
            width: 100px !important;
        }
        .buttonsHeader {
            width: 56px !important;
            padding-left: 10px;
        }
    }
    .noSort {
        pointer-events: none !important;
        cursor: default !important;
        background: none !important;
    }
    .headers {
        th {
            position: relative;
            background: none !important;

            &::after {
                position: absolute;
                top: 50%;
                right: 5px;
                font-family: FontAwesome;
                font-size: 16px;
                content: '\f175';
                opacity: 0;
                transition: transform 0.3s, margin 0.3s, opacity 0.3s;
            }
            &.sorting_desc::after {
                opacity: 1;
                transform: translate(0, calc(-50% + 2px)) rotate(0);
            }
            &.sorting_asc::after {
                opacity: 1;
                transform: translate(0, calc(-50% - 2px)) rotate(180deg);
            }
        }
    }
    .buttons {
        padding: 0 10px !important;
        text-align: center;

        > div {
            display: inline-block;
        }
        .materialButton {
            margin-top: -3px;
            vertical-align: middle;
            border-radius: 5px;
        }
    }
    .dataTables_length {
        padding: 10px 30px;
        line-height: 30px;

        .materialSelect {
            height: 30px;
            vertical-align: middle;

            li {
                height: 30px;
                line-height: 30px;
            }
            .select {
                border: 0;

                &::after {
                    top: 12px;
                }
                &.open {
                    li {
                        padding: 0 24px;
                    }
                }
            }
        }
    }
    .dataTables_paginate {
        > div {
            display: inline-block;
        }
        span {
            > span {
                line-height: 48px;
                vertical-align: text-bottom;
            }
            > div {
                display: inline-block;
                padding: 0 3px;
            }
        }
        .paginate_button {
            background: #FFF;
            border: 0 !important;
            box-shadow: none !important;

            &.current {
                color: #FFF !important;
                background: $primary-500;

                .ripple {
                    background: rgba(255, 255, 255, 0.5);
                }
                &:hover {
                    color: #FFF !important;
                    background: $primary-700;
                }
            }
            &:hover {
                color: #000 !important;
                background: $grey-200;
            }
        }
        .ripple {
            transition: background 0.8s;

            &.animate {
                animation: ripple 0.8s ease-out;
            }
        }
    }
    .hidden {
        display: none;
    }
}
.export-tool {
    padding: 16px;

    p {
        width: 100%;
        max-width: 320px;
        margin-top: 40px;
    }
    h2 {
        font-size: 20px;
    }
}
