@import 'variables';

html,
body {
    display: block;
    min-width: 100%;
    min-height: 100%;
    font-family: Roboto, Arial;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.materialSelect {
    .select {
        &.open {
            border-radius: 0 !important;
            box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.3) !important;

            li {
                &.selected {
                    color: $primary-500 !important;
                }
            }
        }
    }
}
.materialInput {
    input {
        color: #000;
    }
}
.materialButton {
    &::before,
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        content: "";
        transition: border-bottom 0.5s linear, height 0.5s linear;
    }
    &::before {
        border-bottom: 0 solid $primary-200;
    }
    &::after {
        width: 100%;
        border-bottom: 0 solid $primary-500;
        transition: border-bottom 0.5s linear, height 0.5s linear;
    }
    &.loading {
        &::before,
        &::after {
            width: 100%;
            height: 10px;
        }
        &::before {
            border-bottom: 4px solid $primary-200;
        }
        &::after {
            width: 0;
            border-bottom: 4px solid $primary-500;
            transition: border-bottom 0.5s linear, height 0.5s linear, width 0.3s;
        }
    }

    @for $i from 0 through 10 {
        &.loading.progress-#{$i * 10} {
            &::after {
                width: #{$i * 10%};
            }
        }
    }
}
.katexWrapper {
    &.inline {
        display: inline-block;
        margin: 5px 10px;
    }
    &.block {
        display: block;
        margin: 10px 0;
    }
    .katex-display {
        margin: 0;
    }
}
#app {
    min-height: 100vh;
}
* {
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}
