@import 'variables';

.editQuizPage {
    max-width: 960px;
    margin: 0 auto;

    input[type='file'] {
        display: none;
    }
    .overlay {
        position: fixed;
        right: 10px;
        bottom: 10px;
        z-index: 1;
        transform: translateZ(0);

        .materialButton {
            position: relative;
            padding: 15px 21px;
            font-size: 26px;
            color: #FFF;
            background: $primary-500;
            border-radius: 100%;
            box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.3);

            .ripple {
                background: rgba(255, 255, 255, 0.5);
            }
            .fa {
                vertical-align: baseline;
                transition: opacity 0.5s;
            }
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 26px;
                height: 26px;
                font-family: FontAwesome;
                font-size: 26px;
                line-height: 26px;
                content: '\f00c';
                opacity: 0;
                transform: translate(-50%, -50%);
                transition: opacity 0.5s;
            }
            &.saved {
                &::after {
                    opacity: 1;
                }
                .fa {
                    opacity: 0;
                }
            }
        }
    }
    .quizDetails {
        max-width: 400px;
        margin: 0 auto;

        .pageTitle {
            margin: 20px 0;
            font-size: 26px;
            color: $primary-500;
            text-align: center;
        }
        > .materialInput {
            margin-top: 30px;
            margin-bottom: 0;

            &.error {
                margin-bottom: 15px;
            }
        }
        > .materialSelect {
            position: relative;
            left: 50%;
            z-index: 1;
            margin: 0 auto;
            transform: translate(-50%, 0);
        }
    }
    .questions {
        padding: 0 20px;
        margin: 10px 0;
    }

    $questionWidth: 400px;

    .questionWrapper {
        padding: 30px 10px;
        transition: width 0.5s;

        &.fullScreen {
            flex-grow: 10;
            width: 100%;
        }
    }
    .question {
        position: relative;
        padding: 15px 0;
        box-shadow: 0 0 5px rgba($black, 0.4);

        .equationLine {
            display: flex;
            width: 100%;
            margin-bottom: 10px;

            .output {
                position: relative;
                display: inline-block;
                flex-grow: 1;
                width: calc(50% - 10px);
                padding: 5px;
                margin: 0 5px;
                overflow: auto;
                white-space: pre-wrap;
                vertical-align: middle;
                border: 1px solid $grey-300;
            }
            > .materialInput {
                display: inline-block;
                width: 50%;
                padding: 0 0 0 10px;
                margin-bottom: 0;
                vertical-align: middle;

                label {
                    left: 15px;
                }
                .message {
                    display: none;
                }
                .input {
                    min-height: 100%;
                }
            }
        }
        > .materialInput {
            display: block;
            width: 100%;
            padding: 0 10px;
            margin-bottom: 0;

            label {
                left: 15px;
            }
        }
        .images {
            height: 0;

            &:not(.empty) {
                height: auto;
            }
            .firebaseImage {
                position: relative;
                display: inline-block;
                width: 150px;
                height: 150px;
                margin: 30px 10px 0;
                outline: 1px solid $grey-300;

                .closeButton {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(50%, -50%);

                    .materialButton {
                        padding: 5px;
                        background: #FFF;
                        border-radius: 50%;

                        span,
                        span > span {
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                        span > span {
                            background: $red-500;
                        }
                    }
                }
                .background {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
            }
        }
        .header {
            .addImage {
                display: inline-block;
                height: 48px;
                margin-top: 10px;
                margin-left: 10px;
                border-radius: 5px;
            }
            .materialInput {
                display: inline-block;
                margin: 30px 0 0 10px;
                vertical-align: bottom;

                .message {
                    display: none;
                }
            }
            .materialSelect {
                width: 150px !important;
                margin-top: 10px;
                margin-left: 10px;

                li {
                    text-transform: capitalize;
                }
                .select {
                    &.open {
                        li {
                            padding: 0 24px;
                        }
                    }
                }
            }
            .delete {
                width: 50px;
                padding: 13px 17px;
                margin: 10px 10px 0;
                font-size: 20px;
                line-height: 20px;
                color: $white;
                background: $red-500;
                border-radius: 5px;

                .ripple {
                    background: rgba($white, 0.7);
                }
                &:hover {
                    background: $red-700;
                }
            }
        }
        .answers {
            .answer {
                margin-top: 20px;
            }
            .checkbox,
            .text {
                display: inline-block;
            }
            .checkbox {
                position: relative;
                top: -10px;
                width: 24px;
                margin-left: 10px;
            }
            .text {
                width: calc(100% - 111px);
                margin-right: 10px;
                margin-left: 10px;

                .materialInput {
                    margin-bottom: 0 !important;

                    .message {
                        display: none !important;
                    }
                }
            }
            .delete {
                padding: 9px 14px;
                margin-right: 17px;
                font-size: 15px;
                line-height: 20px;
                color: $white;
                vertical-align: text-bottom;
                background: $red-500;
                border-radius: 5px;

                .ripple {
                    background: rgba($white, 0.7);
                }
                &:hover {
                    background: $red-700;
                }
            }
            .selectAnswerWrapper {
                margin-top: 30px;

                > .materialInput {
                    display: inline-block;
                    width: calc(100% - 80px);
                    margin: 20px 10px 0;

                    .message {
                        display: none;
                    }
                }
                .delete {
                    vertical-align: middle;
                }
                > .delete {
                    font-size: 19px;
                    line-height: 25px;
                }
                .selectAnswers {
                    margin: 0 3px 0 50px;
                }
            }
        }
    }
}
