@import 'variables';

$logoHeight: 100px;
$menuButtonSize: 30px;

.pageWrapper {
    padding-top: $headerHeight;
    padding-left: 0;
    transition: padding 0.5s;

    @media screen and (min-width: $screen-md) {
        padding-top: 0;
        padding-left: $sideMenuWidth;
    }
}
.menuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.open {
        .vertical {
            transform: translate(0, 0);
        }
        .backdrop {
            pointer-events: all;
            opacity: 1;
        }
    }
    &.big {
        .horizontal {
            width: calc(100% - #{$sideMenuWidth});
            transform: translate($sideMenuWidth, 0);
        }
        .vertical {
            transform: translate(0, 0);
        }
        .pageTitle {
            left: 0;
        }
    }
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10001;
        width: 100%;
        height: 100%;
        min-width: 100vw;
        min-height: 100vh;
        pointer-events: none;
        cursor: pointer;
        background: rgba($black, 0.3);
        opacity: 0;
        transition: opacity 0.5s;
    }
}
nav {
    &.vertical {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10002;
        width: calc(100% - 60px);
        height: 100%;
        min-height: 100vh;
        padding: 0;
        color: $black;
        background: $white;
        border-right: 1px solid $grey-400;
        transform: translate(-100vw, 0);
        transition: transform 0.5s $materialTiming, width 0.5s $materialTiming;

        .logo {
            position: relative;
            display: block;
            height: $logoHeight;
            padding: 10px 20px;
            text-decoration: none;
            outline: 0;

            .image {
                width: 100%;
                height: 100%;
                background: url('../images/logo.png') no-repeat;
                background-position: center center;
                background-size: contain;
            }
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: $grey-400;
                content: '';
            }
        }
        .links {
            height: calc(100% - #{$logoHeight});
            padding-top: 10px;

            a {
                display: block;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 500;
                color: $black;
                text-decoration: none;
                transition: color 0.2s;

                &.active {
                    color: $primary-600;
                }
                &:hover {
                    color: $primary-400;
                }
                &:focus {
                    outline: 0;
                }
            }
            .forAdmin,
            .logout {
                margin-top: 20px;
            }
        }

        @media (min-width: #{$sideMenuWidth + 60px}) {
            width: $sideMenuWidth;
            transform: translate($sideMenuWidth * -1, 0);
        }
    }
    &.horizontal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: $headerHeight;
        overflow: hidden;
        background: $primary-600;
        box-shadow: 0 0 10px 0 rgba($black, 0.5);
        transition: transform 0.5s, width 0.5s, height 0.5s;

        .materialButton {
            position: absolute;
            top: 0;
            left: 0;
            width: $menuButtonSize * 2;
            height: $headerHeight;
            padding: 0;
            margin: 0;
            cursor: pointer;
            background: $primary-600;
            transition: width 0.5s;

            &:not(.disabled):hover {
                background: $primary-700;
            }
            .innerRipple {
                background: rgba(#FFF, 0.8);
            }
            .icon {
                position: relative;
                top: 50%;
                width: $menuButtonSize;
                height: $menuButtonSize;
                transform: translate(50%, -50%);

                > span {
                    width: $menuButtonSize;
                    height: $menuButtonSize;
                    background-color: #FFF;
                }
            }
        }

        @media screen and (min-width: $screen-md) {
            height: 0;
        }
    }
    .pageTitle {
        position: absolute;
        top: 0;
        left: $menuButtonSize * 2;
        padding-left: 10px;
        font-size: 24px;
        line-height: $headerHeight;
        color: $white;
        transition: left 0.5s;
    }
}
