@import 'variables';

$grey-85: #D6D8DA;
$icon-size: 48px;

.mq-math-mode * {
    font-family: Symbola, Katex_Main, Katex_AMS, Arial;
}
.keyboardInputWrapper {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .keyboardInput {
        > div {
            position: relative;
            display: flex;
            min-width: 64px;
            min-height: 36px;
            padding: 3px 5px 2px;
            overflow: hidden;
            color: $grey-800;
            background: #FFF;
            border: 1px solid $grey-400;
            border-radius: 4px;
        }
        &.focused {
            touch-action: none;

            > div {
                padding: 2px 4px 1px;
                border-color: $primary-500;
                border-width: 2px;
            }
        }
        .mq-cursor {
            margin-right: -1px;
            margin-left: -1px;
            border-left: 2px solid $primary-500;
        }
    }
    .cursorIndicator {
        position: absolute;
        top: 0;
        left: -22px;
        z-index: 4;
        width: 44px;
        height: 44px;
        touch-action: none;

        &.animateIntoPosition {
            transition: transform 0.1s;
        }
        svg {
            width: 22px;

            path {
                fill: $primary-500;
            }
        }
    }
}
.mathInputDesktop {
    .perseus-math-input {
        min-width: 200px;
    }
    &.disabled {
        > div > div:nth-child(2),
        .mq-cursor {
            display: none !important;
        }
    }
    .math-input-buttons {
        position: absolute;
        top: -2px;
        left: 50%;
        z-index: 5;
        width: #{39px * 4 + 4px + 2px}; // (162)
        padding: 2px;
        margin-top: 5px;
        background-color: #FFF;
        border: 1px solid $grey-500;
        border-radius: 5px;
        transform: translate(-50%, 0);
        box-shadow: 0 0 7px rgba($grey-500, 0.8);
    }
    .tex-button {
        $borderColor: #1C758A;

        display: block;
        float: left;
        width: 35px;
        height: 35px;
        margin: 2px;
        color: #000;
        background-color: #FFF;
        border: 1px solid $borderColor;
        border-radius: 5px;
        user-select: none;

        &:hover {
            cursor: pointer;
            background-color: #F0F0F0;
        }
        &:focus {
            border: 2px solid $borderColor;
            outline: none;
        }
        .katexWrapper {
            font-size: 12px;
        }
    }
    .tex-button-row {
        margin: 5px 0;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.keypadContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1060;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transform: translate(0, 100%);
    transition: transform 0.3s;

    &.centered {
        transform: translate(calc(50vw - 50%), 100%);
    }
    &.invisible {
        visibility: hidden;
    }
    &.active {
        transform: translate(0, 0);

        &.centered {
            transform: translate(calc(50vw - 50%), 0);
        }
    }
    .keypad {
        flex-direction: row;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);

        .view {
            position: relative;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            max-width: 100%;
            padding: 0;
            margin: 0;
            text-decoration-line: none;
            list-style: none;
            background: transparent;
            border-color: $grey-85;
            border-style: solid;
            border-width: 0;
            touch-action: none;

            &.row {
                flex-direction: row;
            }
            &.fullWidth {
                width: 100%;
            }
            &.grow {
                flex-grow: 1;
            }
            &.centered {
                align-items: center;
                justify-content: center;
            }
            &.borderTop {
                border-top-width: 1px;
            }
            &.borderRight {
                border-right-width: 1px;
            }
            &.borderBottom {
                border-bottom-width: 1px;
            }
            &.borderLeft {
                border-left-width: 1px;
            }
            &.roundedTopLeft {
                border-top-left-radius: 4px;
            }
            &.roundedTopRight {
                border-top-right-radius: 4px;
            }
            &.icon {
                width: $icon-size;
                height: $icon-size;
                font-size: 25px;
            }
            &.input {
                display: inline-block;
                vertical-align: middle;
            }
            &.page {
                background: #FAFAFA;
            }
        }
        .pager {
            align-self: flex-start;
            flex-direction: row;
            max-width: 250%;
        }
        .iconStrip {
            flex-direction: row;
            justify-content: space-between;
            width: 100vw;
        }
        .indicatorStrip {
            flex-direction: row;
            width: 100vw;
            height: 16px;
            background: #F0F1F2;
        }
        .keypadInner {
            background: $grey-85;
        }
        .borderTop .view.row.borderLeft > div > div:nth-child(1) > div:nth-child(4) {
            margin-bottom: -1px;
        }
        .keypadInner > .view:not(.borderTop) {
            > div:nth-child(2) > div > div:nth-child(1) {
                > .key {
                    border-left-width: 1px;
                }
            }
        }
        .key {
            flex: 1;
            cursor: pointer;
            background: #FAFAFA;
            user-select: none;
            touch-action: none;

            &.empty {
                cursor: default;
                background: #F0F1F2;
            }
            &.disabled {
                pointer-events: none;
                opacity: 0.3;
            }
            .materialButton {
                display: block;
                width: 100%;
                padding: 0;

                &:active,
                &:hover {
                    background: transparent;
                }
            }
        }
        .textIcon {
            font-family: 'Proxima Nova';
        }
        .textNode {
            display: inline;
            padding: 0;
            margin: 0;
            text-decoration-line: none;
            word-wrap: break-word;
        }
    }
    g {
        fill-rule: 'evenodd';
    }
}
