@import 'variables';

.loginFail {
    max-width: 400px;
    margin: 20px auto 30px;
    font-size: 18px;
    text-align: center;
}
.loginPage {
    display: block;
    max-width: 400px;
    margin: 0 auto;

    .accent {
        color: $primary-500;
    }
    .materialButton {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }
    input[type='submit'] {
        display: none;
    }
    .materialInput:nth-child(2) {
        margin-bottom: 5px;

        &.error {
            margin-bottom: 10px;
        }
    }
    .subtitle {
        margin-bottom: 20px;
        font-size: 14px;
    }
    h1 {
        padding: 20px 0;
        font-size: 28px;
        text-align: center;

        .accent {
            display: block;
            color: $primary-500;
        }
    }
    .logo {
        width: 100%;
        height: 200px;
        margin: 20px 0 40px;
        background: url('../images/logo.png') no-repeat;
        background-position: center center;
        background-size: contain;
    }
}
