@import 'variables';

.textAccent {
    color: $primary-500;
}
.quizPageWrapper {
    .timer {
        position: fixed;
        top: 0;
        left: 50%;
        z-index: 10003;
        font-size: 35px;
        line-height: $headerHeight;
        color: #FFF;
        transform: translate(-50%, 0);

        &.red {
            color: $red-500;
        }

        @media screen and (min-width: $screen-md) {
            top: auto;
            bottom: 0;
            left: 150px;
            font-size: 30px;
            color: #000;
            text-align: center;
            transform: translate(-50%, 0);
        }
    }
}
.quizPage {
    .paragraph {
        text-align: center;
    }
    .quizTitle {
        margin: 20px 0;
        font-size: 28px;
        text-align: center;

        .accent {
            color: $primary-500;
        }
    }
    .quizType {
        margin: 10px 0 30px;
        font-size: 24px;
        text-align: center;

        .accent {
            color: $primary-500;
        }
    }
    .questions {
        max-width: 700px;
        margin: 0 auto;

        p {
            margin: 8px 0;

            strong {
                font-weight: bold;
            }
        }
        .materialSelect {
            .select {
                &.open li,
                li.selected {
                    height: auto;
                    min-height: 48px;
                    line-height: 30px;
                    border-top: 1px solid $grey-200;
                    opacity: 1;

                    &:first-child {
                        border-top: 1px solid transparent;
                    }
                }
                &:not(.open) {
                    li.selected {
                        max-height: 48px;
                        padding: 7px 48px 7px 24px;
                        overflow: hidden;
                    }
                }
                li {
                    height: auto;
                    min-height: 0;
                    padding: 7px 20px;
                    opacity: 0;
                }
                .katexWrapper {
                    margin: 0 3px;
                    font-size: 14px;
                }
            }
            .message {
                display: none;
            }
            &.error {
                .select:not(.open) {
                    border: 1px solid transparent !important;

                    &:hover {
                        border-top: 1px solid #BDBDBD !important;
                        border-bottom: 1px solid #BDBDBD !important;
                    }
                }
            }
        }
        .questionWrapper {
            display: block;
            width: 100%;
            padding: 10px;
        }
        .title {
            display: block;
            width: 100%;
            font-size: 20px;
            white-space: pre-wrap;
        }
        .math-line {
            text-align: center;

            .framework-perseus {
                display: inline-block;
            }
            .checkbox {
                display: inline-block !important;
                width: 40px !important;
                height: 25px !important;
                vertical-align: middle !important;
                pointer-events: none !important;
                cursor: default !important;

                input {
                    pointer-events: none !important;
                    cursor: default !important;
                }
            }
        }
        .checkedResponse {
            width: 100%;
            margin-top: 10px;
            font-size: 20px;

            > div {
                display: inline-block;
                margin-left: 10px;
                color: $primary-500;
                vertical-align: middle;
            }
        }
        .question {
            flex-grow: 1;
            flex-shrink: 1;
            padding: 15px;
            box-shadow: 0 0 5px rgba($black, 0.4);

            .firebaseImage {
                position: relative;
                width: 80%;
                height: auto;
                margin: 20px auto 0;

                .background {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
        .answers {
            position: relative;
            margin-top: 40px;

            &::before {
                position: absolute;
                top: -20px;
                left: -15px;
                width: calc(100% + 30px);
                height: 1px;
                background: $grey-300;
                content: '';
            }
        }
        .answer {
            display: block;
            cursor: pointer;

            &.checkbox {
                padding-top: 15px;
                margin: 0 0 15px;
                border-top: 1px solid $grey-200;

                &:first-child {
                    border-top: 1px solid transparent;
                }
            }
            .checkbox,
            .radio {
                display: inline-block !important;
                width: auto !important;
                vertical-align: middle;
            }
            .text {
                display: inline-block;
                width: calc(100% - 40px);
                overflow: auto;
                line-height: 24px;
                vertical-align: middle;
            }
        }
        .answer.select {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 5px;
            margin-top: 5px;
            cursor: auto;
            border-top: 1px solid $grey-200;

            &:first-child {
                border-top: 0 solid transparent;
            }
            .selectTitle {
                display: inline-block;
                flex-grow: 0;
                flex-shrink: 0;
                max-width: 100%;
                min-height: 51px;
                padding: 15px 0;
                line-height: 21px;
                vertical-align: text-top;
            }
            .selectAnswer {
                display: inline-block;
                flex-grow: 1;
                flex-shrink: 1;
                min-width: 200px;
                min-height: 48px;
                margin: 0 10px;
                vertical-align: middle;

                // .materialSelect {
                // .select {
                //     @media screen and (max-width: $screen-sm) {
                //         &.open {
                //             width: calc(100vw - 40px) !important;
                //             margin-left: 55px !important;
                //             transform: translate(-50%, -50%) !important;
                //         }
                //     }
                // }
                // }
            }
            .checkbox {
                display: inline-block !important;
                width: 40px !important;
                height: 25px !important;
                vertical-align: middle !important;
                pointer-events: none !important;
                cursor: default !important;

                input {
                    pointer-events: none !important;
                    cursor: default !important;
                }
            }
        }
    }
    .btnLine {
        display: block;
        margin: 50px 0;
        text-align: center;
    }

    @media screen and (max-width: $screen-sm) {
        padding-bottom: 320px;
    }
}
