@import 'variables';

.quizList {
    padding: 0 2px;
    $lineHeight: 43px;

    .quiz {
        position: relative;
        display: flex;
        min-height: $lineHeight;
        margin: 5px 0;
        line-height: 30px;
        background: #FFF;
        transition: background-color 0.3s;

        &.th {
            font-weight: 700;
        }
        &::after {
            position: absolute;
            bottom: -3px;
            left: 0%;
            width: 100%;
            height: 1px;
            background: $grey-300;
            content: '';
        }
        &:last-of-type {
            &::after {
                width: 0;
            }
        }
        &:hover {
            background: $grey-200;
        }
        .title,
        .type,
        .time {
            position: relative;
            display: inline-block;

            &::after {
                position: absolute;
                top: 20%;
                right: 0;
                width: 1px;
                height: 60%;
                background: $grey-300;
                content: '';
            }
        }
        .title {
            flex-grow: 1;
            flex-shrink: 1;
            min-width: 100px;
            min-height: $lineHeight;
            padding: 0 5px;
            font-size: 16px;
            transition: font-size 0.5s;

            > div {
                position: relative;
                top: 50%;
                width: 100%;
                transform: translate(0, -50%);
            }
        }
        .type,
        .time {
            flex-grow: 0;
            flex-shrink: 0;
            width: 120px;
            font-size: 14px;
            color: $grey-800;
            text-align: center;
            transition: width 0.5s, font-size 0.5s;

            > div {
                position: relative;
                top: 50%;
                width: 100%;
                transform: translate(0, -50%);
            }
        }
        .time {
            display: none;
        }
        .buttons {
            position: relative;
            display: inline-block;
            flex-grow: 0;
            flex-shrink: 0;
            width: 100px;
            text-align: center;
            vertical-align: middle;

            a {
                position: relative;
                top: 50%;
                left: 50%;
                display: block;
                width: 75px;
                height: $lineHeight;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and (min-width: $screen-sm) {
        max-width: 768px;
        padding: 0 20px;
        margin: 0 auto;

        .quiz {
            .title {
                padding-right: 10px;
                padding-left: 10px;
                margin: 7px 0;
                font-size: 22px;

                &::after {
                    bottom: -3px;
                }
            }
            .type {
                width: 180px;
                font-size: 20px;
            }
        }
    }
}
.quizHeader {
    margin: 10px 0;
    font-size: 28px;
    color: $primary-500;
    text-align: center;
}
