@import 'variables';

.elev {
    max-width: 960px !important;
    min-width: 520px !important;
    margin: 20px auto !important;

    .quizName {
        min-width: 80px;
    }
    .quizType {
        min-width: 60px;
    }
}
.date {
    width: 150px !important;
}
#tableReact,
#temp {
    display: none;
}
