@import 'variables';

.noSort {
    &::after {
        display: none;
    }
}
.startQuizWrapper {
    margin-top: 30px;
    text-align: center;

    .materialInput {
        display: inline-block;
        width: 300px;
        margin-right: 30px;
        vertical-align: middle;
    }
}
.errorMessage {
    font-size: 20px;
    font-weight: 500;
    color: $red-500;
    text-align: center;
}
